.menu {
  grid-area: menu;
  background-color: $primary;
  color: white;
  display: flex;
  width: $sidebar_width; // default to closed
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .nav-list {
    font-weight: 700;

    .nav-link {
      padding: 0.5em 1em;
      a {
        color: white;
      }
      .active {
        color: $accent;
        text-decoration: underline;
      }
      a:hover {
        color: lighten($accent, 10%);
        transition: 0.5s;
      }
    }
  }

  @media screen and (max-width: $mobile_breakpoint) {
    width: 100%;
    display: flex;

    .copyright {
      display: none;
    }

    padding: 0.5em 0;

    .nav-list {
      display: flex;
      font-weight: 400;
      flex-direction: row;
      flex-wrap: wrapl;
    }
  }
}
