.sidebar {
  grid-area: navbar;
  background-color: $primary;
  color: white;
  display: flex;
  width: $sidebar_width; // default to closed
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .nav-list {
    font-weight: 700;

    .nav-link {
      padding: 0.5em 1em;
      a {
        color: white;
      }
      .active {
        color: $accent;
        text-decoration: underline;
      }
      a:hover {
        color: lighten($accent, 10%);
        transition: 0.5s;
      }
    }
  }

  @media screen and (max-width: $mobile_breakpoint) {
    &.mobile-closed {
      width: 0;
    }
    a:active {
      color: lighten($accent, 10%);
      transition: 0.5s;
    }
  }
}
