@import 'variables';
@import 'icons';

body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  color: $dark;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'menu main';
}

.main {
  grid-area: main;
  background-color: white;
  overflow: auto;
  padding: 0 2em;
}

.footer {
  display: none;
}

@media screen and (max-width: $mobile_breakpoint) {
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .menu {
      display: flex;
      position: fixed;
      flex-direction: row;
      height: $navbar_height;
      flex-shrink: 0;
    }
    .main {
      margin-top: $navbar_height + 16px;
      flex: 1 0 auto;
    }
    .footer {
      display: flex;
      flex-shrink: 0;
      width: 100%;   
      height: $footer_height;
      background-color: $accent;
    }
  }
}

@import 'menu';
