@import 'variables';
@import 'icons';

body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  color: $dark;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'menu main';
}

.main {
  grid-area: main;
  background-color: white;
  overflow: auto;
  padding: 0 2em;
}

.footer {
  display: none;
}

@media screen and (max-width: $mobile_breakpoint) {
  .container {
    min-height: 100vh;
    height: auto;
    display: block;
    position: relative;
    .main {
      padding-bottom: 20px;
    }
    .footer {
      display: unset;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 20px;
      background-color: $accent;
    }
  }
}

@import 'menu';
