@import 'variables';
@import 'icons';

body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  color: $dark;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'navbar main';
}

.main {
  grid-area: main;
  background-color: white;
  overflow: auto;
  padding: 0 2em;
}

#menu-toggle {
  margin-top: 1rem;
  font-size: 32px;
  font-weight: 500;
  color: $primary;
  @media screen and (min-width: $mobile_breakpoint+1px) {
    display: none;
  }
}

@import 'sidebar';
